<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Lucas Saliés Brum" />
    <title>{{SITENAME}} - {{title}}</title>
    <link href="{{URL}}/css/bootstrap.vapor.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{URL}}/img/favicon.ico">
    <style>
      main > .container { padding: 60px 15px 0; }
    </style>
  </head>
  <body class="d-flex flex-column h-100">
    {{header}}
    {{content}}
    {{footer}}
    <script src="{{URL}}/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
