<form method="post" data-bitwarden-watching="1">
    <fieldset>
        <legend>Novo post</legend>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Descrição</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label mt-4">Default file input example</label>
            <input class="form-control" type="file" id="formFile" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Postar</button>
    </fieldset>
</form>
