<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Lucas Saliés Brum">
<title>{{SITENAME}}</title>
<link href="{{URL}}/css/bootstrap.vapor.min.css" rel="stylesheet">
<link rel="icon" href="{{URL}}/img/favicon.ico">
<link href="{{URL}}/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    <main class="form-signin">
        <form method="post">
            <a href="{{URL}}">
                <img class="mb-4" src="{{URL}}/img/logo.svg" alt="" width="72" height="57">
            </a>
            <h1 class="h3 mb-3 fw-normal">{{SITENAME}}</h1>

            {{alert}}

            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="email" placeholder="usuario@gmail.com" required autofocus>
                <label for="email">E-mail</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="password" placeholder="Senha" required>
                <label for="password">Senha</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input name="remember" type="checkbox" value="remember-me"> Lembrar
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted">&copy; {{YEAR}} {{SITENAME}}</p>
        </form>
    </main>
</body>
</html>