<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lucas Saliés Brum">
    <title>{{SITENAME}} - {{title}}</title>
    <link href="{{URL}}/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{URL}}/img/favicon.ico">
    <link href="{{URL}}/css/dashboard.css" rel="stylesheet">
</head>
<body>    
    {{header}}
    <div class="container-fluid">
        <div class="row">
            {{menu}}
        </div>
    {{content}}
    </div>
    <script src="{{URL}}/js/bootstrap.bundle.min.js"></script>
    <script src="{{URL}}/js/feather.min.js"></script>
    <script src="{{URL}}/js/dashboard.js"></script>
</body>
</html>