<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Lucas Saliés Brum">
    <title>{{SITENAME}} - {{title}}</title>
    <link href="{{URL}}/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="{{URL}}/img/favicon.ico">
    <link href="{{URL}}/css/dashboard.css" rel="stylesheet">
</head>
<body>    
    {{header}}
    <div class="container-fluid">
        <div class="row">
            {{content}}
        </div>
    </div>
    <script src="{{URL}}/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="{{URL}}/js/dashboard.js"></script>
</body>
</html>